body {
  margin: 0;
}
footer {
  background-image: url("img/sky-828648_1920.jpg");
  background-size: cover;
  max-height: 64em;
  height: 28em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.foot {
  max-width: 50em;
  margin: 0 auto;
}
.footbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 1;
}
.icon > img {
  height: 8em;
  margin-top: 0.6em;
  margin-bottom: 0.2em;
}
.icon {
  text-align: center;
}
.social {
  order: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
a > h2,
a {
  color: #f9bd10;
  margin-top: 0;
  text-decoration: none;
}
.social > .face {
  background-image: url("./img/Socialgoldmedia.png");
  background-size: 12em;
  width: 3em;
  height: 3em;
  background-position: -711em 0;
  display: inline-block;
}
.social > .insta {
  background-image: url("./img/Socialgoldmedia.png");
  background-size: 12em;
  background-position: -243em -12em;
  width: 3em;
  height: 3em;
  display: inline-block;
}
.social > .tweet {
  background-image: url("./img/Socialgoldmedia.png");
  background-size: 12em;
  background-position: -24em 0;
  width: 3em;
  height: 3em;
  display: inline-block;
}
.social > .whats {
  background-image: url("./img/Socialgoldmedia.png");
  background-size: 12em;
  background-position: -18em 0;
  width: 3em;
  height: 3em;
  display: inline-block;
}
.conditions {
  margin-top: 1.2em;
  margin-bottom: 2em;
  text-align: center;
  width: 19em;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 3;
}
.contact > a {
  background-image: url("./img/mail.png");
  background-size: 4em;
  width: 4em;
  height: 4em;
}
span {
  color: #f9bd10;
}
.rights {
  color: #f9bd10;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0.5em;
  right: 0;
  left: 0;
}
@media (max-width: 575.98px) {
  .foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-repeat: no-repeat;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-repeat: no-repeat;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  footer {
    background-repeat: round;
  }
  .foot {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 22em;
  }
  .footbox {
    order: 2;
  }
  .social {
    order: 3;
    margin-top: 6.4em;
  }
  .contact {
    order: 1;
    margin-top: 6.4em;
  }
}
@media (min-width: 992px) and (max-width: 1199.8px) {
  footer {
    background-repeat: round;
  }
  .foot {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 22em;
  }
  .footbox {
    order: 2;
  }
  .social {
    order: 3;
    margin-top: 6.4em;
  }
  .contact {
    order: 1;
    margin-top: 6.4em;
  }
}
@media (min-width: 1200px) and (max-width: 1491.8px) {
  footer {
    background-repeat: round;
  }
  .foot {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 22em;
  }
  .footbox {
    order: 2;
  }
  .social {
    order: 3;
    margin-top: 6.4em;
  }
  .contact {
    order: 1;
    margin-top: 6.4em;
  }
}
@media (min-width: 1492px) {
  footer {
    background-repeat: round;
  }
  .foot {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 22em;
  }
  .footbox {
    order: 2;
  }
  .social {
    order: 3;
    margin-top: 6.4em;
  }
  .contact {
    order: 1;
    margin-top: 6.4em;
  }
}
